<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-offset-6 col-md-6">
        <span class="pull-right">
			<button id="open-create-{{model_name}}-modal-button" type="button" class="btn btn-info btn-fab" data-toggle="modal" data-target="#create-{{model_name}}-modal"><i class="material-icons">add</i> </button>
	    </span>
        <span class="pull-right">
	    	<button id="open-delete-{{model_name}}-modal-button"  type="button" class="btn btn-danger btn-fab" data-toggle="modal" data-target="#delete-{{model_name}}-modal"><i class="material-icons">delete</i></button>
	    </span>
	    <span class="pull-right">
	    	<button id="open-update-{{model_name}}-modal-button" type="button" class="btn btn-success btn-fab" data-toggle="modal" data-target="#create-{{model_name}}-modal"><i class="material-icons">mode_edit</i></button>
	    </span>
    </div>
</div>