<table id='mouse-list' class="mdl-data-table" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Ear tag</th>
            <th>D.O.B</th>
            <th>Genotype</th>
            <th>Sex</th>
            <th>Notes</th>
            <th>Status</th>
            <th>Cage</th>
            <th>Breed</th>
        </tr>
    </thead>
    <tbody>
        {{#each mice}}
        <tr>
            <td>{{id}}</td>
            <td>{{ear_tag}}</td>
            <td>{{dob}}</td>
            <td>{{genotype}}</td>
            <td>{{sex}}</td>
            <td>{{ellipsis notes 32}}</td>
            <td>{{status}}</td>
            <td>{{create_timestamp}}</td>
            <td>{{modify_timestamp}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{>crud_buttons model_name='mouse'}}
