<div id='cell_image_array' class='collapse show'>
    <div id="image_row" class="card-deck">
    </div>
</div>

<table id='grid_table' class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
    <thead>
        <tr>
            {{#each column_headers as |header|}}
            <th>{{header}}</th>
            {{/each}}
        </tr>
    </thead>
    <tbody>
        {{#each row_value_list as |value_list|}}
        <tr>
            {{#each value_list as |value|}}
            {{#if @first}}
            <td class="" value="{{@../index}}_{{@index}}">{{truncate value 5}}</td>
            {{else}}
            <td class="hover_cell unselected_cell" value="{{@../index}}_{{@index}}">{{value}}</td>
            {{/if}}
            {{/each}}
        </tr>

        {{/each}}
    </tbody>
</table>