<table id='experiment-list' class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Experiment</th>
            <th>image_name</th>
            <th>measurement_name</th>
            <th>cell_lines</th>
            <th>magnification</th>
            <th>experiment_date</th>
            <th>ixmw1</th>
            <th>ixmw2</th>
            <th>ixmw3</th>
            <th>ixmw4</th>
            <th>platemap_id</th>
        </tr>
    </thead>
    <tbody>
        {{#each experiments}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/experiment/{{id}}">{{human_readable_name}}</a></td>
            <td>{{image_name}}</td>
            <td>{{measurement_name}}</td>
            <td>{{cell_lines}}</td>
            <td>{{magnification}}</td>
            <td>{{experiment_date}}</td>
            <td>{{ixmw1}}</td>
            <td>{{ixmw2}}</td>
            <td>{{ixmw3}}</td>
            <td>{{ixmw4}}</td>
            <td>{{platemap_id}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>