<table id='cage-list' class="mdl-data-table" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>id</th>
            <th>#</th>
            <th>name</th>
            <th>type</th>
            <th>setup</th>
            <th>update</th>
            <th>end</th>
            <th>#mice</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {{#each cages}}
        <tr>
            <td>{{id}}</a>
            </td>
            <td><a href="cage/{{id_alias}}">{{id_alias}}</a></td>
            <td>{{name}}</td>
            <td>{{type}}</td>
            <td>{{setup_date}}</td>
            <td>{{update_date}}</td>
            <td>{{end_date}}</td>
            <td>{{mice.length}}</td>
            <td>{{ellipsis note 32}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>