<div class="form-group">
    <label class="col-md-1 control-label">{{description}}</label>
    <div class="col-md-2">
        {{#each items}}
        <div class="radio radio-primary">
            <label>
                <input type="radio" id="{{../id}}_{{this.description}}"  checked="" name="{{../id}}" value="{{this.id}}"> 
                {{this.description}}
            </label>
        </div>
        {{/each}}
    </div>
</div>
