<div class="form-group label-floating  col-md-2">
    <label for="{{id}}" class=" control-label">{{description}}</label>
    <div class="">
        <select class="form-control foo-select" id="{{id}}">
            {{#each items}}
            <option value="{{this.id}}">{{this.description}}</option>
            {{/each}}
        </select>
    </div>
</div>
