<table id='experiment-list' class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Experiment</th>
            <th>Note</th>
            <th>Grid Data URI</th>
            <th>Metadata URI</th>

            <th>Updated at</th>
            <th>Created at</th>
        </tr>
    </thead>
    <tbody>
        {{#each experiments}}
        <tr>
            <td>{{id}}</td>
            <td><a href="experiment/{{id}}">{{name}}</a></td>
            <td>{{ellipsis note 32}}</td>
            <td>{{grid_data_uri}}</td>
            <td>{{metadata_uri}}</td>
            <td>{{updated_at}}</td>
            <td>{{created_at}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>