<div class="form-group  label-floating col-md-3 col-sm-6">
    <label class="control-label">{{description}}</label>
    {{#forEach items}}
    <div class="radio radio-primary">
        <label>
            {{#if isFirst}}
            <input type="radio" id="{{../id}}_{{this.description}}"  checked="" name="{{../id}}" value="{{this.id}}">
            {{else}}
            <input type="radio" id="{{../id}}_{{this.description}}" name="{{../id}}" value="{{this.id}}">
            {{/if}}
            {{this.description}}
        </label>
    </div>
    {{/forEach}}
</div>
