<div class="form-group label-floating  {{#if class}}{{class}}{{else}}col-md-3 col-sm-6{{/if}}">
    <label for="{{id}}">{{description}}</label>
    

    	{{#if isMultiple}}
        
            <select class="form-control foo-select" id="{{id}}" multiple="multiple">
            {{#each items}}
                {{#contains ../value this.id  }}
                <option value="{{this.id}}" selected>{{this.description}}</option>
                {{else}}
                <option value="{{this.id}}">{{this.description}}</option>
                {{/contains}}
            {{/each}}
            </select>
        

        {{else}}
        
            <select class="form-control foo-select" id="{{id}}">
            {{#each items}}
                {{#eq this.id ../value }}
                <option value="{{this.id}}" selected>{{this.description}}</option>
                {{else}}
                <option value="{{this.id}}">{{this.description}}</option>
                {{/eq}}
            {{/each}}
            </select>
        

        {{/if}}
    
</div>
{{!-- <div>
{{#each items}}
                {{#contains ../value this.id  }}
                <div class="alert alert-success" role="alert">{{../value}} contains {{this.id}} {{this.description}}</div>
                {{else}}
                <div class="alert alert-danger" role="alert">{{../value}} not contains {{this.id}} {{this.description}}</div>
                {{/contains}}
            {{/each}}
            </div> --}}