<div class="form-group label-floating  {{#if class}}{{class}}{{else}}col-md-3 col-sm-6{{/if}}">
    <label for="{{id}}" class=" control-label">{{description}}</label>
    <div >
    	<input type="text" class="form-control" id="{{id}}" value="{{value}}" placeholder="{{placeholder}}" {{extra_attr}}/>
    </div>
</div>



