<table id='mouse-list' class="mdl-data-table compact" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>id</th>
            <th>#</th>
            <th>Ear tag</th>

            <th>Age (wks)</th>
            <th>DOB</th>
            <th>Genotype</th>

            <th>Sex</th>
            <th>Status</th>
            <th>Cage</th>

            <th>Breed</th>
            <th>Notes</th>
        </tr>
    </thead>
    <tbody>
        {{#each mice}}
        <tr>
            <td>{{id}}</a></td>
            <td><a href="/mouse/{{id_alias}}">{{id_alias}}</a></td>
            <td>{{ear_tag}}</td>
            
            <td>{{age}}</td>
            <td>{{dob}}</td>
            <td>{{genotype}}</td>
            
            <td>{{sex}}</td>
            <td>{{status}}</td>
            <td><a href="/cage/{{cage_id_alias}}">{{cage_id_alias}}</a></td>
            
            <td>
                {{#each breeds}}
                <a href="/breed/{{this}}">{{this}}</a>
                {{/each}}
            </td>
            <td>{{ellipsis notes 32}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>