<div class="well bs-component">
    <table id='breed-list' class="mdl-data-table" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>#</th>
                <th>genotype</th>
                <th>male</th>
                <th>female</th>
                <th>pairing</th>
                <th>plug</th>
                <th>end</th>
                <th>mice</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            {{#each breeds}}
            <tr>
                <td><a href="breed/{{id_alias}}">{{id_alias}}</a></td>
                <td>{{genotype}}</td>
                <td>{{male}}</td>
                <td>{{female}}</td>
                <td>{{pairing_date}}</td>
                <td>{{plug_date}}</td>
                <td>{{end_date}}</td>
                <td>{{mice}}</td>
                <td>{{ellipsis notes 32}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <div row="row">
        {{>crud_buttons model_name='breed'}}
    </div>
</div>
