<div class="card" id="image_{{id}}">
    <div class="card-header">
        Drug {{name}}
    </div>

    <div class="card-body">
        <ul class="nav nav-pills" id="tab_{{id}}" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="cyto-overlay-tab" data-toggle="pill" href="#overlay_{{id}}" role="tab"
                    aria-controls="overlay_{{id}}" aria-selected="true">Overlay</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="cyto-w1-tab" data-toggle="pill" href="#w1_{{id}}" role="tab"
                    aria-controls="w1_{{id}}" aria-selected="false">Nuclei</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" id="w2_{{id}}-tab" data-toggle="pill" href="#w2_{{id}}" role="tab"
                    aria-controls="w2_{{id}}" aria-selected="false">Actin/Edu</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="w3_{{id}}-tab" data-toggle="pill" href="#w3_{{id}}" role="tab"
                    aria-controls="w3_{{id}}" aria-selected="false">Golgi/Tubulin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="w4_{{id}}-tab" data-toggle="pill" href="#w4_{{id}}" role="tab"
                    aria-controls="w4_{{id}}" aria-selected="false">PHH3/Mitochondria</a>
            </li>


        </ul>

        <div class="tab-content" id="tab_{{id}}_content">
            <div class="tab-pane fade show active" id="overlay_{{id}}" role="tabpanel"
                aria-labelledby="overlay-tab_{{id}}">
                {{> platemap/platemap_drug_wave wave=drug_bar.cyto.lps_minus.overlay stain="Cyto" lps_status='minus' feature='overlay'}}
                {{> platemap/platemap_drug_wave wave=drug_bar.cyto.lps_plus.overlay stain="Cyto" lps_status='plus' feature='overlay'}}

                {{> platemap/platemap_drug_wave wave=drug_bar.edu.lps_minus.overlay stain='Edu' lps_status='minus' feature='overlay'}}
                {{> platemap/platemap_drug_wave wave=drug_bar.edu.lps_plus.overlay stain='Edu' lps_status='plus' feature='overlay'}}
            </div>
            <div class="tab-pane fade" id="w1_{{id}}" role="tabpanel" aria-labelledby="w1-tab_{{id}}">
                {{> platemap/platemap_drug_wave wave=drug_bar.cyto.lps_minus.w1 stain='Cyto' lps_status='minus' feature='w1'}}
                {{> platemap/platemap_drug_wave wave=drug_bar.cyto.lps_plus.w1 stain='Cyto' lps_status='plus' feature='w1'}}

                {{> platemap/platemap_drug_wave wave=drug_bar.edu.lps_minus.w1 stain='Edu' lps_status='minus' feature='w1'}}
                {{> platemap/platemap_drug_wave wave=drug_bar.edu.lps_plus.w1 stain='Edu' lps_status='plus' feature='w1'}}
            </div>
            <div class="tab-pane fade" id="w2_{{id}}" role="tabpanel" aria-labelledby="w2-tab_{{id}}">
                {{> platemap/platemap_drug_wave wave=drug_bar.cyto.lps_minus.w2 stain='Cyto' lps_status='minus' feature='w2'}}
                {{> platemap/platemap_drug_wave wave=drug_bar.cyto.lps_plus.w2 stain='Cyto' lps_status='plus' feature='w2'}}

                {{> platemap/platemap_drug_wave wave=drug_bar.edu.lps_minus.w2 stain='Edu' lps_status='minus' feature='w2'}}
                {{> platemap/platemap_drug_wave wave=drug_bar.edu.lps_plus.w2 stain='Edu' lps_status='plus' feature='w2'}}
            </div>
            <div class="tab-pane fade" id="w3_{{id}}" role="tabpanel" aria-labelledby="w3-tab_{{id}}">
                {{> platemap/platemap_drug_wave wave=drug_bar.cyto.lps_minus.w3 stain='Cyto' lps_status='minus' feature='w3'}}
                {{> platemap/platemap_drug_wave wave=drug_bar.cyto.lps_plus.w3 stain='Cyto' lps_status='plus' feature='w3'}}

                {{> platemap/platemap_drug_wave wave=drug_bar.edu.lps_minus.w3 stain='Edu' lps_status='minus' feature='w3'}}
                {{> platemap/platemap_drug_wave wave=drug_bar.edu.lps_plus.w3 stain='Edu' lps_status='plus' feature='w3'}}
            </div>
            <div class="tab-pane fade" id="w4_{{id}}" role="tabpanel" aria-labelledby="w4-tab_{{id}}">
                {{> platemap/platemap_drug_wave wave=drug_bar.cyto.lps_minus.w4 stain='Cyto' lps_status='minus' feature='w4'}}
                {{> platemap/platemap_drug_wave wave=drug_bar.cyto.lps_plus.w4 stain='Cyto' lps_status='plus' feature='w4'}}

                {{> platemap/platemap_drug_wave wave=drug_bar.edu.lps_minus.w4 stain='Edu' lps_status='minus' feature='w4'}}
                {{> platemap/platemap_drug_wave wave=drug_bar.edu.lps_plus.w4 stain='Edu' lps_status='plus' feature='w4'}}
            </div>
        </div>


    </div>

    <button class="btn btn-primary metadata_button" type="button" data-toggle="collapse"
        data-target="#multiCollapse_{{id}}" aria-expanded="false" aria-controls="multiCollapse_{{id}}">Metadata</button>


    <div class="collapse multi-collapse" id="multiCollapse_{{id}}">

        <table class="table table-striped table-bordered table-sm table-responsive" cellspacing="0" width="100%">
            <tbody>
                {{#each molecule_meta_data as |molecule|}}
                <tr>
                    <td><strong>{{molecule.name}}</strong></td>

                    {{#eq class_name "smiles"}}
                    <td class="{{molecule.class_name}}" value="{{molecule.value}}">
                        <canvas id="smiles_canvas_{{../id}}" width="125" height="250"></canvas>
                        </br>
                        {{{value}}}
                    </td>
                    {{else}}
                    <td class="{{molecule.class_name}}">
                        {{{molecule.value}}}
                    </td>
                    {{/eq}}
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>

    <button type="button" class="close-btn btn btn-secondary float-sm-right" data-effect="fadeOut">Close</button>
</div>

